/* line 5, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 24, ../sass/_definitions.scss */
body {
  max-width: 100%;
  font-size: 15px;
  line-height: 1.5;
  overflow-x: hidden;
  color: #555555;
  font-family: "Open Sans", "Lato", Helvetica, sans-serif;
}

/* line 32, ../sass/_definitions.scss */
body, html {
  height: 100%;
}

/* line 35, ../sass/_definitions.scss */
.modal {
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}

/* line 41, ../sass/_definitions.scss */
.fullwidth {
  width: 100%;
  height: auto;
}

/* line 45, ../sass/_definitions.scss */
.threefourth {
  width: 60%;
  height: auto;
  margin: auto;
  display: block;
}

/* line 50, ../sass/_definitions.scss */
h1, h2, h3, h4, h5 {
  font-weight: bold;
  font-family: "Open Sans", "Helvetica Neue", "Lato", Arial, Helvetica, sans-serif;
  margin: 0 0 1em 0;
}

/* line 55, ../sass/_definitions.scss */
h1 {
  font-size: 2.625em;
}

/* line 56, ../sass/_definitions.scss */
h2 {
  font-size: 2em;
}

/* line 57, ../sass/_definitions.scss */
h3 {
  font-size: 1.5em;
}

/* line 58, ../sass/_definitions.scss */
h4 {
  font-size: 1.3125em;
}

/* line 59, ../sass/_definitions.scss */
h5 {
  font-size: 1em;
}

/* line 60, ../sass/_definitions.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 63, ../sass/_definitions.scss */
.ib {
  display: inline-block;
  vertical-align: middle;
}

/* line 67, ../sass/_definitions.scss */
.fleft {
  float: left;
}

/* line 70, ../sass/_definitions.scss */
.fright {
  float: right;
}

/* line 73, ../sass/_definitions.scss */
.pageBlocks {
  position: relative;
}
/* line 75, ../sass/_definitions.scss */
.pageBlocks p {
  margin-bottom: 1em;
}

/* line 79, ../sass/_definitions.scss */
button {
  border: 0;
  border-radius: 0;
  line-height: 1;
  padding: 8px;
  font-family: "Open Sans", "Helvetica Neue", "Lato", Arial, Helvetica, sans-serif;
  cursor: pointer;
}

/* line 84, ../sass/_definitions.scss */
input {
  line-height: 1;
  padding: 7px;
  font-family: "Open Sans", "Helvetica Neue", "Lato", Arial, Helvetica, sans-serif;
  border-width: 1px;
  border-style: solid;
  border-color: #DDD #EEE #EEE #DDD;
}

/* line 89, ../sass/_definitions.scss */
.bg-prim {
  background: #D44343;
}

/* line 92, ../sass/_definitions.scss */
.bg-sec {
  background: #DB6A47;
}

/* line 95, ../sass/_definitions.scss */
.bg-acc {
  background: #3ADEED;
}

/* line 98, ../sass/_definitions.scss */
.bg-soft {
  background: #999999;
}

/* line 101, ../sass/_definitions.scss */
.bg-hard {
  background: #555555;
}

/* line 104, ../sass/_definitions.scss */
.bg-light {
  background: #EEEEEE;
}

/* line 107, ../sass/_definitions.scss */
.bg-dark {
  background: #333333;
}

/* line 110, ../sass/_definitions.scss */
.prim {
  color: #D44343;
}

/* line 113, ../sass/_definitions.scss */
.sec {
  color: #DB6A47;
}

/* line 116, ../sass/_definitions.scss */
.acc {
  color: #3ADEED;
}

/* line 119, ../sass/_definitions.scss */
.soft {
  color: #999999;
}

/* line 122, ../sass/_definitions.scss */
.hard {
  color: #555555;
}

/* line 125, ../sass/_definitions.scss */
.light {
  color: #EEEEEE;
}

/* line 128, ../sass/_definitions.scss */
.dark {
  color: #333333;
}

/* line 131, ../sass/_definitions.scss */
.white {
  color: white;
}

/* line 134, ../sass/_definitions.scss */
.bb {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* line 3, ../sass/login.scss */
body {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  background: url(../images/login-bg.jpg);
  background-size: cover;
}

/* line 8, ../sass/login.scss */
.signupWrap {
  width: 300px;
  position: relative;
}
/* line 10, ../sass/login.scss */
.signupWrap .signupInner {
  border-radius: 20px;
  background: white;
  color: #555555;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 50px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
/* line 14, ../sass/login.scss */
.signupWrap .logoStamp {
  position: absolute;
  left: 110px;
  top: -40px;
  width: 80px;
  height: auto;
  z-index: 1;
}
/* line 19, ../sass/login.scss */
.signupWrap .signupForm input, .signupWrap .signupForm button {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  font-size: 1.25em;
  box-sizing: border-box;
  height: 50px;
}
/* line 23, ../sass/login.scss */
.signupWrap .signupForm input {
  border-color: #d9d9d9;
  position: relative;
}
/* line 25, ../sass/login.scss */
.signupWrap .signupForm input.error {
  border: 2px solid #D44343;
}
/* line 30, ../sass/login.scss */
.signupWrap a {
  color: #47b8db;
  font-style: italic;
}
/* line 33, ../sass/login.scss */
.signupWrap .btn {
  background: #333333;
  color: white;
  border-radius: 0;
  background: -moz-linear-gradient(top, #d44343 0%, #d44343 50%, #c83737 50%, #c83737 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d44343), color-stop(50%, #d44343), color-stop(50%, #c83737), color-stop(100%, #c83737));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d44343 0%, #d44343 50%, #c83737 50%, #c83737 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, #d44343 0%, #d44343 50%, #c83737 50%, #c83737 100%);
  /* W3C */
}
